:root {
    font-size: 12px;
}
button, input, select, textarea {
    font-size: 1rem;
}
main {}
.benchRow {
    overflow: auto;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}
.benchRow section {
    margin-right: 15px;
}
.benchRow section > strong {
    width: max-content;
    display: flex;
}
.benchRow section div div {
    float: right;
}
.benchRow section div div data,
.benchRow section div div time,
.benchRow section div div span {
    margin-left: 4px;
}
main aside {
    width: 5rem;
}
time {
    color: #009fb6;
}